
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/main :: head">
    </head>
    <header th:replace="layout/main :: header">

    </header>

    <div class="container">
           <h1>[[#{plantilla.acerca.nosotros}]]</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                   <h2>[[#{nosotros.quienes.somos}]]</h2>
                            <p>[[#{nosotros.respuesta.somos}]]</p>

                            <h2>[[#{nosotros.titulo.mision}]]</h2>
                            <p>[[#{nosotros.texto.mision}]]</p>

                            <h2>[[#{nosotros.titulo.vision}]]</h2>
                            <p>[[#{nostros.texto.vision}]]</p>

                            <h2>[[#{nosotros.titulo.equipo}]]</h2>
                            <p>[[#{nosotros.texto.equipo}]]</p>
                             <ul>

                            
                                <li><p>[[#{nosotros.experienciayconocimiento}]]</p> </li>
                                <li><p>[[#{nosotros.trabajoenequipo}]]</p> </li>
                                <li><p>[[#{nosotros.compromisoexcelencia}]]</p> </li>
                                <li><p>[[#{nosotros.adaptabilidad}]]</p> </li>
                                <li><p>[[#{nosotros.pasiontecnologia}]]</p> </li>
                                <li><p>[[#{nosotros.orientacioncliente}]]</p> </li>
                            </ul>

                </div>
            </div>
        </div>

                       

                        
                        <br>
                        <br>
                        <br>
                        <footer>
                            <p>&copy; [[#{plantilla.derechos}]]</p>
                        </footer>
                    </body>
                </html>
