
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout/main :: head">
    </head>
    <header th:replace="layout/main :: header">

    </header>
    <body>
        <div class="container">
            <!-- Modal -->
            <div class="modal fade" id="agregarDistrito" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Agregar Distrito</h4>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/distrito/guardar}" th:object="${distritos}"
                                  method="POST" class="was-validated" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="descripcion">Nombre</label>
                                        <input type="text" class="form-control" name="nombreDistrito" required="true"/>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="descripcion">Cantón</label>
                                        <input type="text" class="form-control" name="canton" required="true"/>
                                    </div>
                                </div>
                                     <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="descripcion">Provincia</label>
                                        <input type="text" class="form-control" name="provincia" required="true"/>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- 2 column grid layout with text inputs for the first and last names -->

                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label " for="form6Example1">Distrito</label>
                            <input type="text" id="form6Example1" class="form-control"/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="form6Example2">Cantón</label>
                            <input type="text" id="form6Example2" class="form-control"/>
                        </div>
                    </div>


                    <div class="form-outline mb-4">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-2">Filtrar</button>
                    </div>
                    <br></br>
                    <br></br>
                    <section  class="py-4 mb-4 bg-light">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">   
                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                            data-target="#agregarDistrito">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section  id="Distritos">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-11 mb-2">
                                    <div class="card">
                                        <div class="card-header">
                                            <h2>Listado de Distritos</h2>
                                        </div>
                                        <div th:if="${distritos != null and !distritos.empty}">
                                            <table class="table table-striped table-hover">
                                                <thead class="table-dark">
                                                    <tr><th>#</th>
                                                        <th>Nombre</th>
                                                        <th>Cantón</th>
                                                        <th></th>
                                                        <th></th></tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="distrito : ${distritos}">
                                                        <td>[[${distrito.distrito}]]</td>
                                                        <td>[[${distrito.nombreDistrito}]]</td>
                                                        <td>[[${distrito.canton}]]</td>
                                                        <td><a th:href="@{/distrito/eliminar/}+${distrito.distrito}"
                                                               class="btn btn-danger">
                                                                <i class="fas fa-trash"></i> Eliminar</a></td>
                                                        <td>  <a th:href="@{/distrito/modificar/}+${distrito.distrito}"
                                                                 class="btn btn-success">
                                                                <i class="fas fa-pencil"></i> Actualizar</a></td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="text-center p-2" th:if="${distritos == null or distritos.empty}">
                                            <span>La lista se encuentra vacía</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
