
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="/css/skin.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="sidenav">
         <div class="login-main-text">
            <h2>ITicket<br> Inicio de Sesión</h2>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form>
                  <div class="form-group">
                     <label>Usuario</label>
                     <input type="text" class="form-control" placeholder="User Name">
                  </div>
                  <div class="form-group">
                     <label>Contraseña</label>
                     <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <a th:href="@{/index/}" type="submit" class="btn btn-secondary" >Login</a>
                  <a th:href="@{/usuario/Registrarse}" type="submit" class="btn btn-secondary">Registrarse</a>
               </form>
            </div>
         </div>
      </div>
    </body>
</html>
